# ==========================================
# CONFIGURACIÓN DEL SERVIDOR
# ==========================================
PORT=5000


# ==========================================
# BASE DE DATOS (Aiven Cloud MySQL)
# ==========================================
DB_HOST=lifti-pazmax563-4588.i.aivencloud.com
DB_PORT=18946
DB_USER=avnadmin
DB_PASSWORD=AVNS_4oFzvtcpgoxTr7Dmq4u
DB_NAME=defaultdb

# ==========================================
# SERVICIO DE EMAIL (Brevo API V3)
# ==========================================
BREVO_API_KEY=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
EMAIL_USER=liftingup.app@gmail.com
EMAIL_PASS=ryrmayjbpmrbrnrt
EMAIL_FROM="LIFTING UP <liftingup.app@gmail.com>"