# Para desarrollo local en la computadora:
VITE_API_URL=http://localhost:5000/api

# Para compilar la APK de Android (intercambiar el comentario cuando vayas a compilar):
# VITE_API_URL=https://lifting-up-backend.onrender.com/api